<div id = "section-2" class="row" >
    <div class ="col-xs-12 col-sm-12 col-md-12 box-left">
        <div class=" col-md-12 link">
            <ul class="list-inline">
                <li><a href="">Link 1</a></li>
                <li><a href="" class=" glyphicon-one-fine-dot">Link 2</a></li>
                <li><a href="" class="glyphicon-one-fine-dot">Link 3</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 column">
            <div id="theCarousel" class="carousel slide" data-ride="carousel">
                <!-- Define how many slides to put in the carousel -->
                <ol class="carousel-indicators">
                    <li data-target="#theCarousel" data-slide-to="0" class="active"> </li >
                    <li data-target="#theCarousel" data-slide-to="1"> </li>
                    <li data-target ="#theCarousel" data-slide-to="2"> </li>
                </ol >
                <!-- Define the text to place over the image -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active" >
                        <div class ="slide1">
                            <img src="../../assets/img_1.jpg" alt="Flower" width="100%" height="200px">
                        </div>
                    </div>
                    <div class="item">
                        <div class="slide2">
                            <img src="../../assets/img_2.jpg" alt="Flower" width="100%" height="200px">
                        </div>
                    </div>
                    <div class="item">
                        <div class="slide3">
                            <img src="../../assets/img_3.jpg" alt="Flower" width="100%" height="200px">
                        </div>
                    </div>
                </div>
                <!-- Set the actions to take when the arrows are clicked -->
                <a class="left carousel-control" href="#theCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"> </span>
                </a>
                <a class="right carousel-control" href="#theCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 column">
            <div id = "panel1" class="panel panel-default">
                <div class="panel-body">
                    <div class="well col-xs-12 col-sm-12 col-md-12"><h4>LOREM IPSUM LOREM </h4> <p> Lopersum ipsum Lopersum ipsumLopersum ipsum Lopersum ipsum</p></div>
                    <div class="well well2 col-xs-12 col-sm-12 col-md-12"><h4>LOREM IPSUM LOREM</h4> <p> Lopersum ipsum Lopersum ipsumLopersum ipsum Lopersum ipsum</p></div>
                </div>
            </div>
        </div>
    </div>
</div>