<div id = "section-1" class ="row">
    <div id="slide-nav" class=" col-xs-24 col-sm-24 col-md-24  navbar collapse-out navbar-default box-left">
        <div class="container-fluid ">
            <div class="navbar-header col-xs-24 col-sm-24 col-md-24">
                <a class="navbar-brand side-logo" href="#"><img alt="Brand" width ="100px" height ="90px" src="../../assets/logo.jpeg"></a>
                <a class="navbar-brand center-logo" href="#"><img class ="center-block" alt="Brand" width ="100px" height ="40px" src="../../assets/logo.jpeg"></a>
                <button type="button" (click)="toggleMenuBtnClick()" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div id="slidemenu">
                <!-- <div class="collapse navbar-collapse" id="myNavbar"> -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div>
                            <a href="#" class="btn btn-sm btn-primary navbar-btn"> Lorem Ipsum</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#" class="btn btn-sm btn-primary navbar-btn"> Lorem Ipsum</a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="#" class="btn btn-sm btn-primary navbar-btn"> Lorem Ipsum</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>