<div id = "section-6" class ="row">
    <div class ="col-xs-12 col-sm-12 col-md-12  box-left">
        <div class= "links">
            <div class="col-xs-offset-1 col-sm-offset-1 col-xs-2 col-sm-2 col-md-1 ">
                <p class ="col-xs-12 col-sm-12 col-md-12 ">Link1</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-1  ">
                <p class = "glyphicon-one-fine-dot col-xs-12 col-sm-12 "> </p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-1  ">
                <p class ="col-xs-12 col-sm-12 col-md-12">Link2</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-1">
                <p class = "glyphicon-one-fine-dot col-xs-12 col-sm-12 ">
            </div>
            <div class="col-xs-2 col-sm-2 col-md-1">
                <p class ="col-xs-12 col-sm-12 col-md-12">Link3</p>
            </div>

            <div  class="row  horizontal-line ">
                <div class = "col-xs-12 col-sm-12 col-md-12 box-left">
                    <div class ="page-break">
                        <hr>
                    </div>
                </div>
            </div>

            <div class="col-xs-offset-1 col-sm-offset-1 col-xs-2 col-sm-2 col-md-offset-1 col-md-1 ">
                <p class ="col-xs-12 col-sm-12 col-md-12 ">Link4</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-1  ">
                <p class = "glyphicon-one-fine-dot col-xs-12 col-sm-12 "> </p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-1  ">
                <p class ="col-xs-12 col-sm-12 col-md-12">Link5</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-1">
                <p class = "glyphicon-one-fine-dot col-xs-12 col-sm-12 ">
            </div>
            <div class="col-xs-2 col-sm-2 col-md-1">
                <p class ="col-xs-12 col-sm-12 col-md-12">Link6</p>
            </div>

            <div  class="row horizontal-line">
                <div class = "col-xs-12 col-sm-12 col-md-12 box-left">
                    <div class ="page-break">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <p class=" footer-text col-xs-12 col-sm-12 col-md-12">lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Korem Ipsum lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Korem Ipsum lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Korem Ipsum lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Korem Ipsum lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum .</p>
    </div>
</div>