<div id = "section-6" class ="row">
    <div class ="col-xs-24 col-sm-24 col-md-24  box-left">
        <div class= "links">
            <div class="col-xs-offset-2 col-sm-offset-2 col-xs-4 col-sm-4 col-md-2 ">
                <p class ="col-xs-24 col-sm-24 col-md-24 ">{{data.linkNames[0]}}</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2  ">
                <p class = "glyphicon-one-fine-dot col-xs-24 col-sm-24 "> </p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2  ">
                <p class ="col-xs-24 col-sm-24 col-md-24">{{data.linkNames[1]}}</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                <p class = "glyphicon-one-fine-dot col-xs-24 col-sm-24 ">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                <p class ="col-xs-24 col-sm-24 col-md-24">{{data.linkNames[2]}}</p>
            </div>

            <div  class="row  horizontal-line ">
                <div class = "col-xs-24 col-sm-24 col-md-24 box-left">
                    <div class ="page-break">
                        <hr>
                    </div>
                </div>
            </div>

            <div class="col-xs-offset-2 col-sm-offset-2 col-xs-4 col-sm-4 col-md-offset-2 col-md-2 ">
                <p class ="col-xs-24 col-sm-24 col-md-24 ">{{data.linkNames[3]}}</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2  ">
                <p class = "glyphicon-one-fine-dot col-xs-24 col-sm-24 "> </p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2  ">
                <p class ="col-xs-24 col-sm-24 col-md-24">{{data.linkNames[4]}}</p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                <p class = "glyphicon-one-fine-dot col-xs-24 col-sm-24 ">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2">
                <p class ="col-xs-24 col-sm-24 col-md-24">{{data.linkNames[5]}}</p>
            </div>

            <div  class="row horizontal-line">
                <div class = "col-xs-24 col-sm-24 col-md-24 box-left">
                    <div class ="page-break">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <p class=" footer-text col-xs-24 col-sm-24 col-md-24">{{data.content}}</p>
    </div>
</div>