
#section-4 .box-left:before,#section-4 .box-left:after {
    background-color :white;
}

#section-4>div {
    padding-top:20px;
    padding-bottom: 20px;
}
#section-4 input , #section-4 label{
    width:100%;
}
#section-4 div{
    margin-left:0;
    margin-right:-15px;
}


/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    #section-4 > div {
        padding-top: 0px;
        padding-bottom: 20px;
    }

    #section-4 label {
        margin-bottom: 10px;
    }

    #section-4 input[type="password"] {
        display:none;
    }
}