<div id = "section-4" class="row ">
    <div class = "col-xs-12 col-sm-12 col-md-12  box-left">
        <form class="form">
            <div class = "form-group">
                <div class = "col-xs-12 col-sm-12 col-md-3 ">
                    <label for="pwd">Abonnez-vous a notre newsletter</label>
                </div>
                <div class = "col-xs-12 col-sm-12 col-md-3 ">
                    <input type="password" class="form-control" id="pwd" placeholder="Nom">
                </div>
                <div class = "col-xs-7 col-sm-7 col-md-3">
                    <input type="email" class="form-control" id="email" placeholder="Addresse e-mail">
                </div>
                <div class = "col-xs-5 col-sm-5 col-md-1">
                    <button type="submit" class="btn btn-primary">S'ABONNER</button>
                </div>
            </div>
        </form>
    </div>
</div>