<div id = "section-3" class="row ">
    <div class = "col-xs-12 col-sm-12 col-md-12  box-left">
        <div class ="empty-space"></div>
        <div *ngFor="let dat of data.mainpanels" class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="panel panel-default panel-main">
                <div class="panel-body">
                    <h4>{{data.mainpanels[0].title}}</h4>
                    <p> {{data.mainpanels[0].content}} </p>
                    <p><a class="btn panel-btn btn-primary" href="#" role="button">{{data.mainpanels[0].btnText}} <span class="glyphicon glyphicon-menu-right hidden-lg"></span></a></p>
                </div>
            </div>
        </div>
        <h3 class ="col-md-12 sub-title">Lorem Ipsum lorem ipsum </h3>
        <div *ngFor="let dat of data.subpanels" class="col-xs-12 col-sm-12 col-md-3">
            <div class="panel panel-default panel-sub">
                <div class="panel-body">
                    <h4>{{dat.title}}</h4>
                    <p>{{dat.content}}</p>
                    <img src = "../../assets/{{dat.image}}" alt="Flower" width="100%" height="100px">
                    <p><a class="btn panel-btn btn-primary" href="#" role="button">{{dat.btnText}} <span class="glyphicon glyphicon-menu-right"></span></a></p>
                </div>
            </div>
        </div>
        <div class = "col-xs-12 col-sm-12 col-md-offset-4 col-md-4">
            <button type="button" class="btn btn-warning">LOREM IPSUM <span class="glyphicon glyphicon-menu-right"></span></button>
        </div>
    </div>
</div>