<div id = "section-3" class="row ">
    <div class = "col-xs-12 col-sm-12 col-md-12  box-left">
        <div class ="empty-space"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="panel panel-default panel-main">
                <div class="panel-body">
                    <h4>LOREM IPSUM LOREM</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn panel-btn btn-primary" href="#" role="button">LOREM IPSUM <span class="glyphicon glyphicon-menu-right hidden-lg"></span></a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div  class="panel panel-default panel-main">
                <div class="panel-body">
                    <h4>LOREM IPSUM LOREM</h4>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p><a class="btn panel-btn btn-primary" href="#" role="button">LOREM IPSUM <span class="glyphicon glyphicon-menu-right hidden-lg"></span></a></p>
                </div>
            </div>
        </div>
        <h3 class ="col-md-12 sub-title">Lorem Ipsum lorem ipsum </h3>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div class="panel panel-default panel-sub">
                <div class="panel-body">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem Ipsum</p>
                    <img src="../../assets/img_4.jpg" alt="Flower" width="100%" height="100px">
                    <p><a class="btn panel-btn btn-primary" href="#" role="button">LOREM IPSUM <span class="glyphicon glyphicon-menu-right"></span></a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div  class="panel panel-default panel-sub">
                <div class="panel-body">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem Ipsum</p>
                    <img src="../../assets/img_4.jpg" alt="Flower" width="100%" height="100px">
                    <p><a class="btn panel-btn btn-primary" href="#" role="button">LOREM IPSUM <span class="glyphicon glyphicon-menu-right"></span></a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div  class="panel panel-default panel-sub">
                <div class="panel-body">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem Ipsum</p>
                    <img src="../../assets/img_4.jpg" alt="Flower" width="100%" height="100px">
                    <p><a class="btn panel-btn btn-primary" href="#" role="button">LOREM IPSUM<span class="glyphicon glyphicon-menu-right"></span></a></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3">
            <div  class="panel panel-default panel-sub">
                <div class="panel-body">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem Ipsum</p>
                    <img src="../../assets/img_4.jpg" alt="Flower" width="100%" height="100px">
                    <p><a class="btn panel-btn btn-primary" href="#" role="button">LOREM IPSUM<span class="glyphicon glyphicon-menu-right"></span></a></p>
                </div>
            </div>
        </div>
        <div class = "col-xs-12 col-sm-12 col-md-offset-4 col-md-4">
            <button type="button" class="btn btn-warning">LOREM IPSUM <span class="glyphicon glyphicon-menu-right"></span></button>
        </div>
    </div>
</div>